aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.14.1
attrs==26.1.0
av==18.0.0
backports.zstd==1.6.0
brotli==1.2.0
certifi==2026.6.17
charset-normalizer==3.4.9
chromadb==1.5.2
click==8.4.2
colorama==0.4.6
ctranslate2==4.8.1
distro==1.9.0
fastapi==0.116.0
faster-whisper==1.2.1
filelock==3.29.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.4.0
gigaam @ git+https://github.com/salute-developers/GigaAM.git@559d88d6b72541412743929f633a6ae7c9950b85
h11==0.16.0
hf-xet==1.5.1
hydra-core==1.3.2
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
huggingface_hub==1.23.0
idna==3.18
inflate64==1.0.4
iniconfig==2.3.0
Jinja2==3.1.6
jiter==0.16.0
MarkupSafe==3.0.3
mpmath==1.3.0
multidict==6.7.1
multivolumefile==0.2.3
networkx==3.6.1
numpy==2.5.1
omegaconf==2.3.1
onnx==1.19.1
onnxruntime==1.23.2
openai==2.44.0
packaging==26.2
pluggy==1.6.0
propcache==0.5.2
protobuf==7.35.1
psutil==7.2.2
py7zr==1.1.3
pybcj==1.0.7
pycryptodomex==3.23.0
pydantic==2.13.4
pydantic-settings==2.10.1
pydantic_core==2.46.4
Pygments==2.20.0
pyppmd==1.3.1
pytest==9.1.1
python-dotenv==1.2.2
python-multipart==0.0.20
PyYAML==6.0.3
requests==2.34.2
sentencepiece==0.2.2
setuptools==78.1.0
silero==0.5.5
silero-stress @ git+https://github.com/snakers4/silero-stress.git@76706c123dc9ac0ca0b2b428d132a71c6cc4ff36
sniffio==1.3.1
soundfile==0.14.0
starlette==0.46.2
sympy==1.14.0
tabulate==0.10.0
texttable==1.7.0
tokenizers==0.22.2
torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
tqdm==4.68.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.35.0
watchfiles==1.2.0
websockets==16.0
yarl==1.24.2
